
                /*CSS DOSYASI*/

* {
    margin: 0px;
    padding: 0px;
}

#sayfa {
    width: 900px;
    min-height: 600px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: auto;
    background-color: pink
}
/*BANNER*/
#banner {
    width: 898px;
    height: 100px;
    border-style: none;
    border-color: blue;
    border-width: 1px;
    margin: auto;
    background-color: white;
}
/*LOGO*/
#logo {
    width: 100px;
    height: 80px;
    border-style: none;
    border-width: 1px;
    background-color: white;
    position: relative;
    top: 10px;
    left: 10px;
    float: left;
}
/*SOSYAL MEDYA İKONLARI*/
#sosyal {
    width: 190px;
    height: 40px;
    border-style: none;
    border-width: 1px;
    background-color: white;
    float: right;
    position: relative;
    top: 50px;
    right: 10px;
}
/*ANA MENÜ*/
#anamenu {
    width: 898px;
    height: 100px;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    margin: auto;
    background-color: lightskyblue
}

    #anamenu ul {
        list-style-type: none;
    }

        #anamenu ul li {
            border-style: solid;
            width: 200px;
            border-width: 3px;
            border-radius: 8px;
            border-color: blue;
            background-color: white;
            float: left;
            padding: 4px;
            margin-left: 3px;
            text-align: center;
            position: relative;
            top: 15px;
        }

        #anamenu ul a {
            font-family: Verdana;
            font-weight: bold;
            text-decoration: none;
        }

            #anamenu ul a:link {
                color: blue
            }

            #anamenu ul a:visited {
                color: brown
            }

            #anamenu ul a:hover {
                color: grey;
                text-decoration: underline
            }

            #anamenu ul a:active {
                color: red
            }

/*İÇERİK VE YAN MENÜ*/
#icerik {
    width: 800px;
    min-height: 300px;
    border-style: none;
    border-width: 1px;
    background-color: white;
    float: left;
}

#yanmenu {
    width: 100px;
    min-height: 300px;
    border-style: none;
    border-width: 1px;
    background-color: dodgerblue;
    float: right;
}

.resim {
    float: left;
    width: 100px;
    margin: 5px;
}

.metin {
    color: darkblue;
    font-family: 'Times New Roman'
}

.başlık {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: red;
    font-weight: bolder;
    text-align: center
}
/*ALT MENÜ*/
#altmenu {
    width: 898px;
    height: 100px;
    border-style: none;
    border-width: 1px;
    background-color: deepskyblue;
    float: right;
    text-align: center;
    color: black
}

    #altmenu a {
        font-family: Verdana;
        font-size: 15px;
        font-weight: bolder;
        color: black;
    }

        #altmenu a:hover {
            color: red;
            text-decoration: underline
        }
